<html>
<head>
    <script src="{{url_for('static', filename='jquery-2.2.2.min.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='leaflet/leaflet.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='pan/L.Control.Pan.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='demo.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
</head>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">E4E Mangrove Monitoring GPS</a>
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="/">Map</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="#">Save Locations</a>
            </li>
    
        </ul>
    </nav>
<body>
    <div class="mx-auto" style="width:auto">
        <div class ="row">
            <div class = "col-7 ml-4" style="width: 70%; height: 325px; padding: 10px" id="map">
                <script src="{{url_for('static', filename='pan/L.Control.Pan.js')}}"></script>
                <script>
                    var map = L.map('map',{
                    center: {{ coordinates }},
                    zoom: 15
                    });
                    L.tileLayer('/static/atlas/{z}/{x}/{y}.jpg',{
                    attribution: '&copy; <a>USGS</a> contributors'
                    }).addTo(map);
                    var marker = L.marker({{ coordinates }}).addTo(map);
                    L.control.pan().addTo(map);
                </script>     
            </div>
            <div class = "col-3 mr-1">
                    <script type=text/javascript>
                        $(function() {
                          $('a#loc').bind('click', function() {
                            $.getJSON('/current_loc',
                                function(data) {
                              //do nothing
                              return false
                            });
                            return false
                          });
                          return false
                        });
                    </script>
                <div class="card border-success m-0" style="width: 130%; margin: 0 auto;">
                    <div class="card-header text-success m-0">
                        Current Location
                    </div>
                    <div class="card-body m-0">
                        <form>
                            <a class ="m-0"href="#" id=loc>
                                <button class="btn btn-dark" data-toggle="button">Save</button>
                            </a>
                        </form>
                    </div>
                </div>
                <script type=text/javascript>
                    $(function() {
                      $('a#rtk').bind('click', function() {
                        $.getJSON('/background_rtk',
                            function(data) {
                          //do nothing
                          return false
                        });
                        return false
                      });
                      return false
                    });
                </script>
                <div class="card border-success m-0" style="width: 130%; margin: 0 auto;">
                        <div class="card-header text-success m-0">
                            RTK Location
                        </div>
                        <div class="card-body m-0">
                            <form class = "m-0">
                                <a class = "m-0" href="#" id=rtk>
                                    <button class="btn btn-dark" data-toggle="button">Save</button>
                                </a>
                            </form>
                            <p class = "m-1" style="color: red;">
                                NOT SAVING
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
